name: Nodejs Build Test

on:
  pull_request:
    branches:
      - main

jobs:
  package:
    name: Package
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [linux, darwin, win32]  # Define the platforms
        arch: [x64, arm64]  # Define the architectures
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      # Install npm dependencies based on the architecture
      - name: Install dependencies
        run: |
          if [ "${{ matrix.arch }}" == "arm64" ]; then
            npm_config_arch=arm64 npm install --build-from-source
          else
            npm_config_arch=x64 npm install --build-from-source
          fi

      # Run Rollup for compilation
      - name: Run Rollup
        run: npm run rollupci

      - name: List contents of out/compiled directory (for debugging)
        run: ls -R out/compiled

      # Step 1: Package the extension for the appropriate target
      - name: Package VSIX for the target platform
        run: |
          case "${{ matrix.os }}" in
            linux)  vsce package --target linux-${{ matrix.arch }} ;;
            darwin) vsce package --target darwin-${{ matrix.arch }} ;;
            win32)  vsce package --target win32-${{ matrix.arch }} ;;
          esac

      # Step 2: Capture the VSIX filename
      - name: Capture VSIX filename
        id: capture_vsix_file
        run: |
          VSIX_FILE=$(ls *.vsix)
          echo "VSIX_FILE=$VSIX_FILE" >> $GITHUB_ENV
        shell: bash

      # Step 3: Print VSIX filename
      - name: Print VSIX filename
        id: print_vsix_file  # Renamed to be unique
        run: |
          echo "Generated package for platform ${{ matrix.os }} and architecture ${{ matrix.arch }}:"
          ls *.vsix
